korit_gov_spring_boot_mybatis_study/src/main/resources/application.properties
korit_gov_spring_boot_mybatis_study/src/main/resources/application.properties
korit_gov_spring_boot_mybatis_study/src/main/resources/application.properties
